VITE_SUPABASE_URL=https://eyvxfvsewxcdujeoxaqm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key

EXPO_PUBLIC_SUPABASE_URL=https://eyvxfvsewxcdujeoxaqm.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
