VITE_SUPABASE_URL=https://wbsmzbpndohahbutywew.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_i3y8-SeiJV4IErZ0VIH1RQ_NQqESlF8

EXPO_PUBLIC_SUPABASE_URL=https://wbsmzbpndohahbutywew.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_i3y8-SeiJV4IErZ0VIH1RQ_NQqESlF8
